*{
    margin: 0;
    padding: 0;
  }

html,body{
  background-image:url("Background.png");
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 100%;
  background-color: #538ea9;
  overflow: auto;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 15px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar a:hover {
  background-color: #2b8fbd;
}

.active {
  background-color: #538EA9;
  

}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  position: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-align{
  font-size: 30px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.font-family{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:large;
}

.text{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-size: x-large;
  font-weight: bold;
}
.rows{
  display: flex;

}
.row{
  display: flex;
}
